@page "/profile/{username:nonfile?}"

@using BlazorServer.Data
@using BlazorServer.Services
@using Humanizer
@using Microsoft.AspNetCore.Authorization

@inject IUserService userService

@inject AuthenticationStateProvider authProvider

@inject ApplicationDbContext db

@inject NavigationManager navManager

@inject HobbyService hobbyService

@code {
    string pill = "rounded-pill text-white px-3 py-2 fs-5";
    string pillContainer = "d-flex align-items-center justify-content-start p-2 gap-2";
}

<PageTitle>HobbyEditor</PageTitle>
<div class="d-flex flex-column gap-3 p-3 fs-5">
    <div class="position-relative">
        <img 
            src="@BannerUrl" 
            alt="Banner" 
            class="img-fluid w-100" 
            style="height:240px; object-fit:cover;" />

        <img 
            src="@PfpUrl" 
            alt="Profile" 
            class="position-absolute rounded" 
            style="width:160px;height:160px;object-fit:cover;left:5%;bottom:-40px;" />
    </div>

    <div class="row g-3" style="margin-top:2.5rem;">
        <div class="col-12 col-md-6">
            <div class="d-flex flex-column gap-2">
                <p class="mb-0 fs-3">@DisplayName</p>
                <div class="text-muted mb-2" style="margin-top:-0.5rem">&#64;@Username</div>
                @if (CanEdit)
                {
                    <a class="btn btn-primary btn-sm" href="/Account/Manage" style="width:fit-content;">
                        Edit
                    </a>
                }
                else if (CanMessage)
                {
                    <a class="btn btn-primary btn-sm" href="/messages/@(Username)" style="width:fit-content;">
                        Message
                    </a>
                }
                else
                {
                    <a class="btn btn-secondary btn-sm" href="/Account/Manage/OrganizationalEmail" 
                        style="width:fit-content;" disabled
                    >
                        Message
                    </a>
                }
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="d-flex flex-column gap-2">
                <div>🌎 @Country</div>
                <div>🙂 @MatchPercentage% Match</div>
                <div>🕘 Since @DateRegistered</div>
            </div>
        </div>
    </div>

    <hr class="divider" />

    @if (Hobbies is not null && Hobbies.Count > 0)
    {
        @if (FavoriteHobbies is not null && FavoriteHobbies.Count > 0) 
        {
            <div class="hobby-grid" style="margin-bottom:2rem;">
                @if (FavHobby1 is not null)
                {
                    <div class=@pillContainer>
                        <span class="fs-3">🥇</span>
                        <span 
                            class=@pill 
                            style="background-color:#dab53e; box-shadow:0 0 0 4px #c4a23380;"
                        >
                            @FavHobby1.HobbyName
                        </span>
                    </div>
                }
                @if (FavHobby2 is not null)
                {
                    <div class=@pillContainer>
                        <span class="fs-3">🥈</span>
                        <span 
                            class=@pill
                            style="background-color:#b5b5b5; box-shadow:0 0 0 4px #afafaf80;"
                        >
                            @FavHobby2.HobbyName
                        </span>
                    </div>
                }
                @if (FavHobby3 is not null)
                {
                    <div class=@pillContainer>
                        <span class="fs-3">🥉</span>
                        <span 
                            class=@pill 
                            style="background-color:#CD7F32; box-shadow:0 0 0 4px #CD7F3280;"
                        >
                            @FavHobby3.HobbyName
                        </span>
                    </div>
                }
            </div>
        }
        
        <div class="hobby-grid">
            @foreach (Hobby hobby in Hobbies.Except(FavoriteHobbies ?? []))
            {
                <div class=@pillContainer>
                    @if (SameHobbies?.Contains(hobby) == true) 
                    {
                        <span class="fs-3">🙂</span>
                        <span class="@pill bg-success">
                            @hobby.HobbyName
                        </span>
                    } 
                    else if (RecommendedHobbies?.Contains(hobby) == true) 
                    {
                        <span class="fs-3">💡</span>
                        <span class="@pill bg-success">
                            @hobby.HobbyName
                        </span>
                    }
                    else  @* if (DifferentHobbies?.Contains(hobby) == true) *@
                    {
                        <span class="@pill bg-secondary">
                            @hobby.HobbyName
                        </span>
                    }
                </div>
            }
            @if (CanEdit) 
            {
                
                <div class=@pillContainer>
                    <span class="fs-3">➡️</span>
                    <a class="btn btn-primary text-nowrap fs-5" href="hobby">
                        📝 Add More
                    </a>
                </div>
            }
        </div>

        <hr class="divider" />
    }
    else if (IsSelf)
    {
        <div class="d-flex flex-column">
            <div class="text-muted">
                This is looking pretty empty....
            </div>
            <div class="text-muted">
                Why not <a href="hobby">add some hobbies</a>?
            </div>
        </div>
        
        <hr class="divider" />
    }
    

    
</div>

@code {
    public string? BannerUrl { get; set; }

    public string? PfpUrl { get; set; }

    public string? DisplayName { get; set; }

    [Parameter]
    public string? Username { get; set; }

    public bool CanEdit { get; set; }

    public bool CanMessage { get; set; }

    public string? Country { get; set; }

    public float MatchPercentage { get; set; }

    public string? DateRegistered { get; set; }

    public Hobby? FavHobby1 { get; set; }

    public Hobby? FavHobby2 { get; set; }

    public Hobby? FavHobby3 { get; set; }

    public List<Hobby>? SameHobbies { get; set; }

    public List<Hobby>? DifferentHobbies { get; set; }

    public List<Hobby>? FavoriteHobbies { get; set; }

    /// <summary>
    /// This is where the Naive Bayes model comes in
    /// </summary>
    public List<Hobby>? RecommendedHobbies { get; set; }

    public List<Hobby>? Hobbies { get; set; }

    public bool IsSelf { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await PopulateUserData();
    }

    private async Task PopulateUserData() 
    {
        ApplicationUser? currentUser = await userService.GetCurrentUser(authProvider, db);
        ApplicationUser? otherUser;

        string? usernameQuery = Username;

        while (usernameQuery is null && currentUser is null) 
        {
            userService.RedirectToLogin(navManager);
        }

        if (usernameQuery is null && currentUser is not null) 
        {
            // own profile
            otherUser = currentUser;
            IsSelf = true;

            CanEdit = true;
            CanMessage = false;
        } 
        else if (usernameQuery == currentUser?.UserName && currentUser is not null) {
            // own profile, but preview mode (not editable)
            otherUser = currentUser;
            IsSelf = true;

            CanEdit = false;
            CanMessage = false;
        }
        else
        {
            // someone else's profile
            otherUser = await userService.GetFromUsername(db, usernameQuery!);

            if (otherUser is null) 
            {
                // TODO: user not found page
                navManager.NavigateTo("/");
                return;
            }

            if (currentUser?.BcitEmailIsVerified == true && otherUser?.BcitEmailIsVerified == true) 
            {
                // both are students and can msg each other
                CanEdit = false;
                CanMessage = true;
            } 
            else 
            {
                // one of these users is not a student
                CanEdit = false;
                CanMessage = false;
            }
        }

        ApplicationUser defaults = userService.DefaultUser;

        BannerUrl = otherUser!.BannerURL ?? defaults.BannerURL;
        PfpUrl = otherUser.ProfilePictureURL ?? defaults.ProfilePictureURL;
        DisplayName = otherUser.DisplayName ?? otherUser.UserName;
        Username = otherUser.UserName;
        Country = otherUser.Country ?? defaults.Country;
        MatchPercentage = await userService.GetMatchPercentage(db, authProvider, otherUser);
        DateRegistered = FormatDate(otherUser.DateRegistered);
        Hobbies = otherUser.Hobbies;

        FavHobby1 = otherUser.FavoriteHobby1;
        FavHobby2 = otherUser.FavoriteHobby2;
        FavHobby3 = otherUser.FavoriteHobby3;

        List<Hobby?> temp = [FavHobby1, FavHobby2, FavHobby3];
        temp.RemoveAll(hobby => hobby is null);
        FavoriteHobbies = temp.Cast<Hobby>().ToList();
        
        if (IsSelf)
        {
            SameHobbies = Hobbies;
            DifferentHobbies = null;
        }
        else if (currentUser is null) 
        {
            SameHobbies = null;
            DifferentHobbies = Hobbies;
        }
        else if (currentUser is not null)
        {
            SameHobbies = otherUser!.Hobbies?.Where(
                otherHobby => 
                {
                    return currentUser.Hobbies?.Any(yourHobby => yourHobby == otherHobby) ?? false;
                }
            )?.ToList() ?? [];
            
            DifferentHobbies = otherUser!.Hobbies?.Except(SameHobbies)?.ToList();
        }
        
    }

    private string FormatDate(DateTime date) 
    {
        return $"{date.Year}/{date.Month.ToString("D2")}/{date.Day.ToString("D2")}";
    }

}