@page "/profile/{username:nonfile?}"

@using BlazorServer.Data
@using BlazorServer.Services
@using Humanizer
@using Microsoft.AspNetCore.Authorization

@inject IUserService userService

@inject AuthenticationStateProvider authProvider

@inject ApplicationDbContext db

@inject NavigationManager navManager

@inject HobbyService hobbyService

@code {
    string pill = "rounded-pill text-black my-pill mw-75 text-truncate responsive-text-xs";
    string myCol10 = "col-10 d-flex flex-column gap-2 justify-content-between ps-1 ps-sm-2";
    string myCol2 = "col-2 d-flex flex-column h-100 justify-content-between text-end px-0";
    string myHobbyEmojiCol = "col-2 d-flex flex-column h-100 justify-content-center text-end px-0";
    string myResponsiveCol = "row gx-1 col-6 col-md-4";
    string myHobbyCol = "row gx-1 col-6 col-md-4 mb-3 mb-lg-4";
    string actionButton = "btn btn-dark d-flex flex-row px-3 responsive-text-sm text-nowrap";
}

<PageTitle>HobbyEditor</PageTitle>

<div class="d-flex flex-column gap-3 p-3 fs-5 ">

    <div class="position-relative" style="margin-bottom:60px">
        <img 
            src="@BannerUrl" 
            alt="Banner" 
            class="img-fluid w-100" 
            style="height:240px;object-fit:cover;"
        />

        <img 
            src="@PfpUrl" 
            alt="Profile Picture" 
            class="position-absolute rounded" 
            style="width:160px;height:160px;object-fit:cover;left:5%;bottom:-40px;"
        />
    </div>

    <div class="row">
        <div class="@myResponsiveCol">
            <div class=@myCol2></div>
            <div class=@myCol10>
                <div><h2 class="mb-0 responsive-text-lg">
                    @DisplayName
                </h2></div>

                <div class="text-secondary responsive-text">
                    &#64;@Username
                </div>

                <div>
                    @if (CanEdit)
                    {
                        <a href="/Account/Manage" 
                            class="@(actionButton) fw-bold mt-1"
                            style="width:fit-content;"
                        >
                            <i class="bi bi-pencil">&nbsp;</i>
                            Edit
                        </a>
                    }
                    else if (CanMessage)
                    {
                        <a href="/messages/@(Username)"
                            class="@(actionButton) fw-bold"
                            style="width:fit-content;"    
                        >
                            <i class="bi bi-envelope">&nbsp;</i>
                            Message
                        </a>
                    }
                    else if (ShowVerifyEmailButton)
                    {
                        <a href="/Account/Manage/OrganizationalEmail"
                            class="btn btn-secondary d-flex flex-row px-3 responsive-text-sm text-nowrap"
                            style="width:fit-content;" 
                        >
                            <i class="bi bi-lock">&nbsp;</i>
                            Message
                        </a>
                    }
                    else {
                        <a
                            class="btn btn-outline-secondary d-flex flex-row px-3 responsive-text-sm text-nowrap"
                            style="width:fit-content;" 
                        >
                            <i class="bi bi-lock">&nbsp;</i>
                            Message
                        </a>
                    }
                </div>
            </div>
        </div>
        <div class="@myResponsiveCol">
            <div class=@myCol2>
                <span class="responsive-text">
                    🌎
                </span>
                <span class="responsive-text">
                    🙂
                </span>
                <span class="responsive-text">
                    🕘
                </span>
            </div>
            <div class=@myCol10>
                <div class="responsive-text">
                    @Country
                </div>
                <div class="responsive-text">
                    @MatchPercentage% Match
                </div>
                <div class="responsive-text">
                    Since @DateRegistered
                </div>
            </div>
        </div>
    </div>

    <hr class="divider" />

    @if (Hobbies is not null && Hobbies.Count > 0)
    {
        <div class="row">
            @if (FavHobby1 is not null)
            {
                <div class=@myHobbyCol>
                    <div class=@myHobbyEmojiCol>
                        <span class="responsive-text">🥇</span>
                    </div>
                    <div class=@myCol10>
                        <span 
                            class=@pill 
                            style="background-color:#f5c31f; box-shadow:0 0 0 4px #f5c31f80;"
                        >
                            @FavHobby1.HobbyName
                            
                        </span>
                    </div>
                </div>
            }
            @if (FavHobby2 is not null)
            {
                <div class=@myHobbyCol>
                    <div class=@myHobbyEmojiCol>
                        <span class="responsive-text">🥈</span>
                    </div>
                    <div class=@myCol10>
                        <span 
                        class=@pill
                        style="background-color:#dddddd; box-shadow:0 0 0 4px #d8d8d880;"
                    >
                        @FavHobby2.HobbyName
                    </span>
                    </div>
                </div>
            }
            @if (FavHobby3 is not null)
            {
                <div class=@myHobbyCol>
                    <div class=@myHobbyEmojiCol>
                        <span class="responsive-text">🥉</span>
                    </div>
                    <div class=@myCol10>
                        <span 
                            class=@pill 
                            style="background-color:#edc8ab; box-shadow:0 0 0 4px #edc8aba0;"
                        >
                            @FavHobby3.HobbyName
                        </span>
                    </div>
                </div>
            }
            
            @foreach (Hobby hobby in Hobbies.Except(FavoriteHobbies ?? []))
            {
                <div class=@myHobbyCol>
                    <div class=@myHobbyEmojiCol>
                        <span class="responsive-text">
                            @if (!CanEdit && SameHobbies?.Contains(hobby) == true) 
                            {
                                <span class="responsive-text">🙂</span>
                            } 
                            else if (RecommendedHobbies?.Contains(hobby) == true)
                            {
                                <span class="responsive-text">💡</span>
                            }
                        </span>
                    </div>
                    <div class=@myCol10>
                        @if (DifferentHobbies?.Contains(hobby) != true)
                        {
                            <span class="@pill" 
                                style="background-color:#d8e6bc;box-shadow:0 0 0 2px #d8e6bca0;"
                            >
                                @hobby.HobbyName
                            </span>
                        }
                        else // if in SameHobbies or in RecommendedHobbies
                        {
                            <span class="@pill" style="background-color:#ebe9dc">
                                @hobby.HobbyName
                            </span>
                        }
                    </div>
                </div>
            }
        </div>
        <div class="row justify-content-center" style="margin-top: -1rem">
            @if (CanEdit) 
            {
                <div class=@myHobbyCol>
                    <div class=@myHobbyEmojiCol></div>
                    <div class=@myCol10>
                        <a class="@actionButton" 
                            style="width:fit-content;"
                            href="hobby"
                        >
                            <i class="bi bi-pencil">&nbsp;</i>                        
                            Edit Hobbies
                        </a>
                    </div>
                </div>
            }
        </div>
    }
    else if (IsSelf)
    {
        <div class="d-flex flex-column">
            <div class="text-muted text-center">
                This is looking pretty empty....
            </div>
            <div class="text-muted text-center">
                Why not <a href="hobby">add some hobbies</a>?
            </div>
        </div>
    }

    <hr class="divider" />
    
    @if (ShowVerifyEmailButton)
    {
        <a href="/Account/Manage/OrganizationalEmail"
            class="@(actionButton) align-self-end p-2"
            style="width:fit-content;" 
        >
            Verify BCIT Email
        </a>
    }

    
</div>

@code {
    public string? BannerUrl { get; set; }

    public string? PfpUrl { get; set; }

    public string? DisplayName { get; set; }

    [Parameter]
    public string? Username { get; set; }

    public bool CanEdit { get; set; }

    public bool CanMessage { get; set; }

    public string? Country { get; set; }

    public float MatchPercentage { get; set; }

    public string? DateRegistered { get; set; }

    public Hobby? FavHobby1 { get; set; }

    public Hobby? FavHobby2 { get; set; }

    public Hobby? FavHobby3 { get; set; }

    public List<Hobby>? SameHobbies { get; set; }

    public List<Hobby>? DifferentHobbies { get; set; }

    public List<Hobby>? FavoriteHobbies { get; set; }

    /// <summary>
    /// This is where the Naive Bayes model comes in
    /// </summary>
    public List<Hobby>? RecommendedHobbies { get; set; }

    public List<Hobby>? Hobbies { get; set; }

    public bool IsSelf { get; set; }

    public bool ShowVerifyEmailButton { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await PopulateUserData();
    }

    private async Task PopulateUserData() 
    {
        ApplicationUser? currentUser = await userService.GetCurrentUser(authProvider, db);
        ApplicationUser? otherUser;

        string? usernameQuery = Username;

        while (usernameQuery is null && currentUser is null) 
        {
            userService.RedirectToLogin(navManager);
        }

        if (usernameQuery is null && currentUser is not null) 
        {
            // own profile
            otherUser = currentUser;
            IsSelf = true;

            CanEdit = true;
            CanMessage = false;

            ShowVerifyEmailButton = !otherUser.BcitEmailIsVerified;
        } 
        else if (usernameQuery == currentUser?.UserName && currentUser is not null) {
            // own profile, but preview mode (not editable)
            otherUser = currentUser;
            IsSelf = true;

            CanEdit = false;
            CanMessage = false;
        }
        else
        {
            // someone else's profile
            otherUser = await userService.GetFromUsername(db, usernameQuery!);

            if (otherUser is null) 
            {
                // TODO: user not found page
                navManager.NavigateTo("/");
                return;
            }

            if (currentUser?.BcitEmailIsVerified == true && otherUser?.BcitEmailIsVerified == true) 
            {
                // both are students and can msg each other
                CanEdit = false;
                CanMessage = true;
            } 
            else 
            {
                // one of these users is not a student
                CanEdit = false;
                CanMessage = false;
            }
        }

        ApplicationUser defaults = userService.DefaultUser;

        BannerUrl = otherUser!.BannerURL ?? defaults.BannerURL;
        PfpUrl = otherUser.ProfilePictureURL ?? defaults.ProfilePictureURL;
        DisplayName = otherUser.DisplayName ?? otherUser.UserName;
        Username = otherUser.UserName;
        Country = otherUser.Country ?? defaults.Country;
        MatchPercentage = await userService.GetMatchPercentage(db, authProvider, otherUser);
        DateRegistered = FormatDate(otherUser.DateRegistered);
        Hobbies = otherUser.Hobbies;

        FavHobby1 = otherUser.FavoriteHobby1;
        FavHobby2 = otherUser.FavoriteHobby2;
        FavHobby3 = otherUser.FavoriteHobby3;

        List<Hobby?> temp = [FavHobby1, FavHobby2, FavHobby3];
        temp.RemoveAll(hobby => hobby is null);
        FavoriteHobbies = temp.Cast<Hobby>().ToList();
        
        if (IsSelf)
        {
            SameHobbies = Hobbies;
            DifferentHobbies = null;
        }
        else if (currentUser is null) 
        {
            SameHobbies = null;
            DifferentHobbies = Hobbies;
        }
        else if (currentUser is not null)
        {
            SameHobbies = otherUser!.Hobbies?.Where(
                otherHobby => 
                {
                    return currentUser.Hobbies?.Any(yourHobby => yourHobby == otherHobby) ?? false;
                }
            )?.ToList() ?? [];
            
            DifferentHobbies = otherUser!.Hobbies?.Except(SameHobbies)?.ToList();
        }
        
    }

    private string FormatDate(DateTime date) 
    {
        return $"{date.Year}/{date.Month.ToString("D2")}/{date.Day.ToString("D2")}";
    }

}